#navbar{
    /* position: relative; */
}
.alignmentContainerNav{
    right: 10px;
    position: absolute;
}
#navbarNav{
    position: relative;
}
#navbarName{
    position: relative;
    left: 15%;
    background-color: rgb(68, 214, 214);
    color: white;
    margin: -8px;
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
}

/* portfolio page */
#portfolioCards, #formCard{
    margin: 2em;
}
.btn{
    background-color: rgb(68, 214, 214);
    color: white;
    border-color: rgb(68, 214, 214);
}
#cardImage{
    position: relative;
}
#imageOverlay{
    position: absolute;
}
 /* about/index page  */
.mb-3{
    margin: 10% auto;
}
#aboutImage{
    margin-top: 20px;
    padding-left: 10px;
}
#AboutCardTitle{
    color: rgb(68, 214, 214);
    font-family: 'Libre Baskerville', serif;
    border-style: none none solid none;
    border-color: lightgray;
    padding: 0px 0px 10px;
}