

/* general  */
body{
    background-image: url('images/chevron/chevron.png')
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: center;
    border-style: solid none none none;
    border-color: #08762A;
}

.alignmentContainerNav{
    right: 10px;
    position: absolute;
}
#navbarNav{
    position: relative;
}
#navbarName{
    position: relative;
    left: 15%;
    background-color: #08762A;
    color: white;
    margin: -8px;
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
}

/* portfolio page */
#portfolioCards, #formCard{
    margin: 2em;
}
.btn{
    background-color: #08762A;
    color: white;
    border-color: #08762A;
}
#cardImage{
    position: relative;
}
#imageOverlay{
    position: absolute;
}
 /* about/index page  */
.mb-3{
    margin: 10% auto;
}
#aboutImage{
    margin-top: 20px;
    padding-left: 10px;
}
#AboutCardTitle{
    color: #08762A;
    font-family: 'Libre Baskerville', serif;
    border-style: none none solid none;
    border-color: lightgray;
    padding: 0px 0px 10px;
}
#nps-img{
    padding: 40px;
}

#IMSimage {
    padding: 40px;
    /* position: relative; */

}